.Stock {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.custom-tooltip {
  background-color: #363c47;
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
  font-size: 15px;
}
