.Stock {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Stock-title {
  justify-self: flex-start;
}

.stock-tooltip {
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
