.Stock {
  height: 70vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Stock-title {
  align-self: flex-start;
  padding-left: 60px;
}

.stock-tooltip {
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
