.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-dark-theme {
  background-color: #1f1f1f;
  color: #e0e0e0;
}

.App-light-theme {
  background-color: #e0e0e0;
  color: #1f1f1f;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  padding: 1vw;
  background-color: rgb(75, 167, 113);
}

.title {
  font-size: 32px;
  font-weight: 200;
  padding-left: 1.5vw;
}
